[submodule "core"]
	path = core
	url = git@github.com-petevieiratlc:languageconservancy/elearning-core.git
	branch = main
[submodule "elearning-core"]
	path = core
	url = git@github.com-petevieiratlc:languageconservancy/elearning-core.git
