// Platform-specific theme variables
// Override default theme colors and styles here
$primary-color: #047eb9;
$primary-color-light: #007bff;
$primary-color-dark: #156a98;
$lang-color: #8b1b1f;
$village-color-light: #ee3f36;
$village-color-dark: #d0202a;
$review-color-light: #d7b21c;
$review-color-dark: #b29a0b;
$correct-color: #1ea949;
$correct-color-light: #c8e1bf;
$incorrect-color: #da3327;
$incorrect-color-light: #ecb6b6;
$ui-panel-light: #ffffff;
$ui-panel-medium: #c0c0c0;
$ui-panel-dark: #000000;
$warning-color: #ffa200;
$text-primary: #007db6;
$text-primary-contrast: #ffffff;
$text-ui-panel-dark-contrast: #ffffff;
$text-ui-panel-light-contrast: #050607;
$text-ui-panel-light-contrast-light: #666666;
$text-ui-panel-light-placeholder: #80868b;
$info-space: #fdf5d5;
$background: #053169;
